{% extends "layout.html.twig" %}

{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
{% endblock %}

{% block contenido %}

    <div class="contenido">
        {% block busqueda %}
            
        {% endblock %}
        
        <div class="panel-principal">
            <h1>Usuarios</h1>
            <form id="formulario-busqueda" class="formulario-busqueda" action="index.php" method="get">
                <input type="hidden" name="comando" value="busqueda-usuarios">
                <input class="inputf" type="hidden" name="pagina-actual" value="1">
                <input class="inputf" type="text" name="nombre-de-usuario" placeholder="Nombre de usuario a buscar.." value="{{nombreDeUsuario}}">
                <select class="inputf" name="estado">
                    <option value="">Todos</option>
                    <option value="1" {% if estado == "1" %}selected{% endif %}
                    >Activo</option>
                    <option value="0" {% if estado == "0" %}selected{% endif %}>Bloqueado</option>
                </select>
                <button type="submit" form="formulario-busqueda" class="boton-panel-principal">Filtrar</button>
            </form>
            <div class="tabla-resultados">
                {% for resultado in resultados %}
                    <a href="index.php?comando=info-usuario&id={{resultado.id}}" class="tarjeta-resultado">
                        <div class="nombreyfoto-tarjeta-usuario">
                            <img class="usuario-image" src="recursos/user.svg" alt="Imagen usuario">
                            <h1>{{resultado.first_name}}</h1>
                        </div>
                        <div class="estado-tarjeta-usuario">
                            <h1>Estado:</h1>
                            <h2>
                                {% if resultado.activo == 1 %}Activo{% else %}Bloqueado{% endif %}
                            </h2>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="paginas">
                {% if cantidadPaginas != 0 %}
                    {% if paginaActual != 1%}
                        <a href="index.php?comando=busqueda-usuarios&pagina-actual={{paginaActual -1}}&nombre-de-usuario={{nombreDeUsuario}}&estado={{estado}}">Atrás</a>
                    {% endif %}
                    {% for i in 1..cantidadPaginas %}
                        <a href="index.php?comando=busqueda-usuarios&pagina-actual={{i}}&nombre-de-usuario={{nombreDeUsuario}}&estado={{estado}}">
                        {% if i == paginaActual %}
                            <strong>{{i}}</strong>
                        {% else %}
                            {{i}}
                        {% endif %}
                        </a>
                    {% endfor %}
                    {% if paginaActual != cantidadPaginas%}
                        <a href="index.php?comando=busqueda-usuarios&pagina-actual={{paginaActual +1 }}&nombre-de-usuario={{nombreDeUsuario}}&estado={{estado}}">Siguiente</a>
                    {% endif %}
                {% else %}
                    <p>
                        No se han encontrado resultados
                    </p>
                {% endif %}
            </div>
            <button class="boton-panel-principal" onclick="location.href='index.php?comando=creacion-usuario'">Crear usuario</button>
        </div>
    </div>

{% endblock %}