{% extends 'layout.html.twig' %}

{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/configuracion.css">
{% endblock %}

{% block links %}
    <script src="templates/scripts/configuracion.js"></script>
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <form class="formulario-principal" action="index.php?comando=cambio-configuracion" method="post" id="formulario" onSubmit="return validarFormConfiguracion();">
            <h1>Configuración</h1>
            <h2>Información del hospital</h2>
            <div class="label-input">
                <label>Título: </label>
                <input id="input_titulo" class="inputf" type="text" value={{titulo}} name="titulo" required>
            </div>
            <div class="label-input">
                <label>Mail de contacto:</label>
                <input id="input_mail" class="inputf" type="text" value={{mail}} name="mail" required>
            </div>
            <div class="label-input">
                <label>Descripción:</label>
                <textarea class="inputf" cols="21" rows="5" name="descripcion">{{descripcion}} </textarea>
            </div>
            <h2>Configuración del sitio</h2>
            <div class="label-input">
                <label>Cantidad de elementos por página:</label>
                <input id="input_cant" type="number" name="cantidad" value="{{cantidad}}" required>
            </div>
            <div class="label-input">
                <label>Sitio web habilitado:</label>
                <input class="inputf checkb" {% if estadoDelSitio %} checked {% endif %}type="checkbox" name="estadoDelSitio">
            </div>
        </form>
        <button type="submit" form="formulario" class="boton-panel-principal">Guardar cambios</button>
    </div>
</div>

{% endblock %}
