{% extends 'creacion-consulta.html.twig' %}

{% block accion %}action="index.php?comando=actualizar-consulta&id={{consulta.0}}"{% endblock %}

{% block fecha %}{{consulta.fecha}}{% endblock %}
{% block articulacion_con_instituciones %}{{consulta.articulacion_con_instituciones}}{% endblock %}
{% block internacion %}{{consulta.internacion}}{% endblock %}
{% block diagnostico %}{{consulta.diagnostico}}{% endblock %}
{% block observaciones %}{{consulta.observaciones}}{% endblock %}

{% block nro_historia_clinica_props %} readonly {% endblock %}
{% block fecha_props %} readonly {% endblock %}

{% block tituloAccion %}Editando consulta{% endblock %}

{% block botones %}
    {{parent()}}
    <button onclick="window.location.href='index.php?comando=borrar-consulta&id-consulta={{consulta.0}}'" class="boton-panel-principal">Borrar</button>
{% endblock %}
