{% extends "layout.html.twig" %}
{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
    <link rel="stylesheet" href="templates/styles/busqueda-pacientes.css">
{% endblock %}
{% block contenido %}

    <div class="contenido">
        <div class="panel-principal">
            <h1>Editando rol: {{datosEditarRol.rol.nombre}}</h1>
            <h5>Seleccione los permisos para el rol:</h5><br>

            <form action="index.php?comando=editando-rol&id={{datosEditarRol.rol.id}}" method=post id="formEditarRol">
                {% for permiso in datosEditarRol.allPermisos %}
                <div>
                     {{permiso.nombre}} <input class="inputf" type="checkbox" name="permiso-{{permiso.id}}"
                     
                     {% if permiso in datosEditarRol.rol.permisos %}
                         checked
                     {% endif %}
                                        
                     >
                 </div> 
             {% endfor %}
             <div>
                     <button type="submit" form="formEditarRol" class="boton-panel-principal">Guardar</button>
             </div>
            </form>
        </div>
    </div>

{% endblock %}