{% extends 'layout.html.twig' %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <h1>{{paciente.nombre}} {{ paciente.apellido }}</h1>
        {% block campos %}
        {% endblock %}
        <p><strong>Número de historia clínica:</strong> {{paciente.nro_historia_clinica}}</p>
        <p><strong>Número de carpeta:</strong> {{paciente.nro_carpeta}}</p>


    <div class="botones">
    <button class="boton-panel-principal" onclick="location.href='index.php?comando=editar-paciente&id={{paciente.id}}'" >Editar Paciente</button>
    <button class="boton-panel-principal" onclick="#">Borrar Paciente</button>
    </div>
    </div>
</div>

{% endblock  %}
