{% extends 'layout.html.twig' %}

{% block nav_equipodeguardia %}
    {# sin implementar #}
{% endblock %}

{% block nav_sinloguear %}
    {# sin implementar #}
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <h1>{{usuario.first_name}} {{ usuario.last_name }}</h1>
        <p><strong>Email:</strong> {{usuario.email}}</p>
        <p><strong>Estado:</strong> {% if usuario.activo == 1 %}Activo{% else %}Bloqueado{% endif %}</p>
        <h2>Roles</h2>
        {% for rol in usuario.roles %}
            <p>{{rol}}</p>
        {% endfor %}
    <div class="botones">
    <button class="boton-panel-principal" onclick="location.href='index.php?comando=edicion-usuario&id={{usuario.id}}'" >Editar usuario</button>
    <button class="boton-panel-principal" onclick="location.href='index.php?comando=borrar-usuario&id={{usuario.id}}' ">Borrar usuario</button>
    </div>
    </div>
</div>

{% endblock  %}
