{% extends 'layout.html.twig' %}

{% block estilos %}
    {{parent()}}
    <link rel="stylesheet" href="templates/styles/busqueda-usuarios.css">
    <link rel="stylesheet" href="templates/styles/busqueda-pacientes.css">
{% endblock %}

{% block contenido %}

<div class="contenido">
    <div class="panel-principal">
        <h1>{{paciente.nombre}} {{paciente.apellido }}
        </h1>
        {% block campos %}
        {% endblock %}
        <p><strong>Número de historia clínica:</strong> {{paciente.nro_historia_clinica}}</p>
        <p><strong>Número de carpeta:</strong> {{paciente.nro_carpeta}}</p>


    <div class="botones">
        <button class="boton-panel-principal" onclick="location.href='index.php?comando=editar-paciente&id={{paciente.id}}'" >Editar Paciente</button>
        <button class="boton-panel-principal" onclick="location.href='index.php?comando=borrar-paciente&id={{paciente.id}}'">Borrar Paciente</button>
        <button form="consulta" class="boton-panel-principal" type="submit">Cargar consulta</button>
        <form id="consulta" action="index.php?comando=creacion-consulta" method="post">
            <input type="hidden" name="nro_historia_clinica" value="{{paciente.nro_historia_clinica}}">
        </form>
    </div>

    <h1>Atenciones</h1> <a href="index.php?comando=mapa-de-instituciones&id={{paciente.id}}">(ver en mapa)</a>
        {% for resultado in resultados %}
            <a href="index.php?comando=editar-consulta&id={{resultado.0}}" class="tarjeta-resultado">
                <div class="nombreyfoto-tarjeta-usuario"> 
                    <h1><p>Motivo: {{resultado.nombre}}</p></h1>
                </div>
                <div>
                    <p>{{resultado.fecha}}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    </div>

</div>

{% endblock  %}
