{% extends 'info-paciente-nn.html.twig' %}

{% block campos %}
<p><strong>Fecha de nac.:</strong> {{paciente.fecha_nac}}</p>
<p><strong>Lugar de nac.:</strong> {{paciente.lugar_nac}}</p>
<p><strong>Partido:</strong> {{paciente.partido_nombre}}</p>
<p><strong>Region sanitaria:</strong> {{paciente.region_sanitaria_nombre}}</p>
<p><strong>Localidad:</strong> {{paciente.localidad_nombre}}</p>
<p><strong>Domicilio:</strong> {{paciente.domicilio}}</p>
<p><strong>Genero:</strong> {{paciente.genero_nombre}}</p>
<p><strong>Posee documento:</strong> {{paciente.tiene_documento}}</p> {# reemplazar clave foranea por valor correspondiente #}
<p><strong>Tipo de doc.:</strong> {{paciente.tipo_doc_nombre}}</p>
<p><strong>Número de doc.:</strong> {{paciente.numero}}</p>
<p><strong>Telefono:</strong> {{paciente.tel}}</p>
<p><strong>Obra social:</strong> {{paciente.obra_social_nombre}}</p>
{% endblock %}
